@use 'variaveis';

.hero{
    background-image: url(../../src/assets/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    min-width: 70vw;

    &__title{
        font-size: 30px;
        padding-left: 50px;
        padding-top: 150px;
        color: variaveis.$colorText;
    }

    &__text{
        font-size: 20px;
        padding-left: 50px;
        color: variaveis.$colorText;
    }
}